@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Inter', sans-serif; /* Default font */
  margin: 0;
  padding: 0;
  background-color: theme('colors.neutral.100'); /* Light gray bg */
}
.hero {
  background-image: url('/images/deforestation-large-scale.jpg');
  background-size: contain; /* or cover */
  background-position: center;
  background-repeat: no-repeat;
}